target/*
Cargo.lock
common/ui-common/target/*
common/firmware-common/target/*
stratum-ui/build
stratum-ui/__pycache__
stratum-ui/src/fonts
stratum-ui/include/fonts
desktop-runner/target/*
amnio-macros/target
build
.vscode
.embuild